html {
	margin: 0;
	padding: 0;
}
.topnav ul {
    text-align: right;
    margin-right: 20px;
}
.topnav li {
    display: inline;
    margin-left: 15px;
}
.topnav a:link, a:visited {
    color: black;
    text-decoration: none;
    display: inline-block;
}
.topnav a:hover, a:active {
    text-decoration: underline;
}
* {
    font: georgia;
}
body { 
	font: georgia;
	line-height: 1.88889; 
	margin: 0; 
	padding: 0;
}
.title {
    background-color: #e9f2f5ff;
    padding-top: 5px;
    padding-bottom: 10px;
    padding-left: 30px;
}
.column {
    float: left;
    width: 33%;
}
.row::after {
    content: "";
    display: table;
    clear: both;
}
@media screen and (max-width:600px) {
    .column {
      width: 100%;
    }
}
h3 {
    text-align: center;
}
.column p {
    padding-left: 5%;
    padding-right: 5%;
}
